{% extends 'page_home.html' %}
{% load staticfiles %}

{% block title %}
    <title>烟温概况</title>
{% endblock title %}

{% block main_svg %}
    <div  class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12 col-sm-12">
                <svg id="regionPie" width=455 height=400 style="border: 1px solid silver;display: block;margin-top: 80px;float: left"></svg>
            </div>
            <div class="col-md-7 col-xs-12 col-sm-12">
                <svg id="angle" width=665 height=400 style="border: 1px solid silver;display: block;margin-top: 80px"></svg>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <svg id="distance" width=1140 height=400 style="border: 1px solid silver;display: block;margin-top: 20px"></svg>
            </div>

        </div>

    </div>
{% endblock main_svg %}

{% block custom_js %}
    <script src="{% static 'js/highstock.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/export-data.js' %}"></script>

    <script>
        var regionPie = d3.select('#regionPie');
        var angleFrequencySvg = d3.select('#angle');
        var distanceFrequencySvg = d3.select('#distance');

      $.getJSON('{% url 'tempsensor:regionfrequency' %}', function (regiondata) {
          console.log(regiondata);
          regionPiePlot(regionPie, regiondata);
      });

      $.getJSON('{% url 'tempsensor:distancefrequency' %}', function (data) {
         histogramPlot(distanceFrequencySvg, data)
      });

      $.getJSON('{% url 'tempsensor:anglefrequency' %}', function (data) {
         angleHistogramPlot(angleFrequencySvg, data)
      });


    </script>
{% endblock custom_js %}
