{% extends 'page_home.html' %}
{% load staticfiles %}

{% block title %}
    <title>Contour Plot</title>
{% endblock title %}

{% block main_svg %}
<div class="container container-fluid">
    <div class="row" style="margin-top: 4%; padding-top: 4%">
        <!-- class= col-mid-3 -->

        <div class="col-md-12" style="text-align: center">
            <svg id="contour" width="800" height="800" style="border: solid 1px silver; text-align: center" class="img-thumbnail"></svg>
            <svg id="legend" width=100 height=800 style="border: 1px solid silver;margin-left: 10px"></svg>
        </div>
        <!-- class= col-mid-9 -->

        <!-- content-right-->

    </div>
    <!-- class=row -->
</div>
<!-- container-->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/contour.js' %}"></script>

    <script>
    var svg = d3.select("#contour"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

    var legend = d3.select("#legend");

    var tooltip = d3.select('body')
    .append('div')
    .attr('class','tooltips')
    .attr('opacity',0);

    function legendPlot(svg, uplimit, dnlimit, space) {
        var width = svg.attr('width');
        var height = svg.attr('height');

        var ldata = d3.range(uplimit, dnlimit, space);
        var lheight =height/ldata.length;
        console.log(height, ldata);
        var update = svg.selectAll('rect').data(ldata);

        var enter = update.enter();

        var exit = update.exit();

        update.attr('x', 0)
            .attr('y', function (d,i) {
                return i*lheight;
            })
            .attr('width', width)
            .attr('height', height)
            .style('fill',function (d) {
                return color(d)
            });

        enter.append('rect')
            .attr('x', 0)
            .attr('y', function (d,i) {
                return i*lheight;
            })
            .attr('width', width)
            .attr('height', height)
            .style('fill',function (d) {
                return color(d)
            });

        exit.remove();

    }

    var i0 = d3.interpolateHsvLong(d3.hsv(120, 1, 0.65), d3.hsv(60, 1, 0.90)),
        i1 = d3.interpolateHsvLong(d3.hsv(60, 1, 0.90), d3.hsv(0, 1, 0.95)),
        interpolateTerrain = function(t) { return t < 0.5 ? i0(t * 2) : i1((t - 0.5) * 2); },
        color = d3.scaleSequential(interpolateTerrain).domain([700, 1400]);

    d3.json("{% url 'tempsensor:get_json_tempvalue'%}", function(error, volcano) {
          if (error) throw error;

          var min = Math.min.apply(null, volcano.values);
          var max = Math.max.apply(null, volcano.values);

          legendPlot(legend, max, 700, -20);

          svg.selectAll("path")
            .data(d3.contours()
                .size([volcano.width, volcano.height])
                .thresholds(d3.range(700, 1400, 20))
              (volcano.values))
            .enter().append("path")
              .attr("d", d3.geoPath(d3.geoIdentity().scale(width / volcano.width)))
              .attr("fill", function(d) { return color(d.value); })

                .on('mouseover',function (d) {
                          $(this).attr('fill', 'yellow').attr('opacity', '0.8');
                          tooltip.html(
{#                              'X轴坐标：'+d3.event.pageX+'<br />'+#}
{#                              'Y轴坐标：'+(678-d3.event.pageY)+'<br />'+#}
                              '烟温：'+d.value+'℃'+'<br />'
                          )
                              .style('left',(d3.event.pageX)+'px')
                              .style('top',(d3.event.pageY+20)+'px')
                              .style('opacity',1.0)
                      })
                      .on('mouseout',function (d) {
                          $(this).attr('fill', color(d.value)).attr('opacity', '1');
                          tooltip.style('opacity',0.0)
                      });
        });
    </script>
{% endblock custom_js %}