{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">

      {% block title %}
    <title>Home Page</title>
    {% endblock %}

  {% block custom_css %}
  {% endblock %}

  </head>
  <body>


    <nav class="navbar navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
          <!--<div class="dropdown">
              <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="narbar-toggle-icon"></span></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{#                <a class="dropdown-item" href="{% url 'tempsensor:home' %}">现场值</a>#}
{#                <a class="dropdown-item" href="{% url 'tempsensor:contour' %}">等温场</a>#}
                <a class="dropdown-item" href="#">轨迹线</a>
              </div>
          </div>-->
        <form class="form-inline" style="float: right">
            <button id="login" type="button" class="btn btn-sm btn-outline-light">
                {% if  user.is_authenticated %}
                        <a href="{% url 'account:logout' %}">退出</a>
                    {% else %}
                        <a href="{% url 'account:new_login' %}">登录</a>
                {% endif %}
            </button>
        <button id="hide" type="button" class="btn btn-sm btn-outline-light">设置菜单</button>
        <button id="xadmin" type="button" class="btn btn-sm btn-outline-light" {% if user.is_authenticated %}style="display: block"{% else %}style="display: none" {% endif %}>
            <a href="/xadmin/">后台管理</a></button>       </form>


      </nav>

    <div id="sidebar-left">
        <ul class="nav flex-column" style="padding-top: 50px">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tempsensor:home' %}">现场值</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tempsensor:contour' %}">等温场</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tempsensor:track' %}">轨迹线</a>
          </li>
        </ul>
    </div>
    <div id="mask">
    </div>
    {% block tool_menu %}
    <div id="test">
        <div id="content-left">
           <!--table:图例描述-->
            <table class="table">
             <thead >
            <tr>
              <th scope="row" style="width: 40%; border-top: none;border-bottom:none">图例描述</th>
            </tr>
          </thead>
             <tbody>
            <tr id="table-first-row" >
              <td>探针</td>
              <td><svg style="background-color: beige; width: 15%;height: 15%"></svg></td>
            </tr>
            <tr id="table-last-row">
              <td >烟温点</td>
              <td><svg style="background-color: red; width: 15%;height: 15%; border-radius: 50%"></svg></td>
            </tr>
          </tbody>
           </table>
            <!--table:栅格-->
            <table class="table">
             <thead >
            <tr>
              <th scope="row" style="width: 40%; border-top: none;border-bottom:none">栅格</th>
            </tr>
          </thead>
             <tbody>
            <tr id="table-first-row" >
              <td>Grid X</td>
              <td><input type="checkbox" name="xgrid" checked="checked"></td>
            </tr>
            <tr id="table-last-row">
              <td >Grid Y</td>
              <td><input type="checkbox" name="ygrid" checked="checked"></td>
            </tr>
          </tbody>
           </table>
            <!--table:显示-->
            <table class="table">
             <thead >
            <tr>
              <th scope="row" style="width: 40%; border-top: none;border-bottom:none">显示</th>
            </tr>
          </thead>
             <tbody>
            <tr id="table-first-row" >
              <td>数值</td>
              <td><input type="radio" name="show"></td>
            </tr>
            <tr id="table-last-row">
              <td >色标</td>
              <td><input type="radio" name="show" checked="checked"></td>
            </tr>
          </tbody>
           </table>
        </div>
    </div>
    {% endblock %}

    {% block main_svg %}
    <div class="container container-fluid">
        <div class="row" style="margin-top: 4%; padding-top: 4%">
            <!-- class= col-mid-3 -->

            <div class="col-md-12" style="text-align: center">
                <svg id="svgPoint" width=800 height=800 style="border: 0px solid silver;"></svg>
                <svg id="legend" width=100 height=800 style="border: 0px solid silver; margin-left: 10px"></svg>
            </div>
            <!-- class= col-mid-9 -->

            <!-- content-right-->

        </div>
        <!-- class=row -->
    </div>
    <!-- container-->
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/hsv.js' %}"></script>

    {% block custom_js %}
  <script>
      var svgPoint = d3.select("#svgPoint");

      var legend = d3.select('#legend');

      var tooltip = d3.select('body')
    .append('div')
    .attr('class','tooltips')
    .attr('opacity',0);

      var i0 = d3.interpolateHsvLong(d3.hsv(120, 1, 0.65), d3.hsv(60, 1, 0.90)),
        i1 = d3.interpolateHsvLong(d3.hsv(60, 1, 0.90), d3.hsv(0, 1, 0.95)),
        interpolateTerrain = function(t) { return t < 0.5 ? i0(t * 2) : i1((t - 0.5) * 2); },
        color = d3.scaleSequential(interpolateTerrain).domain([700, 1400]);

      $.getJSON('{% url 'tempsensor:tempvalue' %}', function (json) {
          scatterLegendPlot(legend, 1400, 700, -100);
          point(svgPoint, json)
      });

  </script>
  {% endblock %}
  </body>
</html>